<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="icon" href="../Imagenes/icon175x175.ico">
		<title>Revista Electónica UDC</title>
	</head>
	<body>
		<section class="jumbotron">
			<div class="container">
				<p class="subtitulo-blog">Registro de evaluador</p>
			</div>
		</section>
		<div class="container form-bottom">
			<form role="form" action="" method="post" class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-xs-8 extra">PERFIL DE USUARIO</label>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3">Usuario:</label>
					<div class="col-xs-9">
						<input class="form-control" id="inputUsuario" placeholder="Usuario">
					</div>
				</div>				
				<div class="form-group">
					<label class="control-label col-xs-3">Password:</label>
					<div class="col-xs-9">
						<input type="password" class="form-control" id="inputPassword" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3">Confirmar Password:</label>
					<div class="col-xs-9">
						<input type="password" class="form-control" id="CinputPassword" placeholder="Confirmar Password">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-8 extra">DATOS PERSONALES</label>
				</div>				
				<div class="form-group">
					<label class="control-label col-xs-3">Nombre:</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-3">Apellido:</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" id="inputApellidos" placeholder="Apellido">
					</div>
				</div>			
				<div class="form-group">
					<label class="control-label col-xs-3">Estudios Realizados:</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" id="inputEstudios" placeholder="Estudios">
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9">
						<label class="checkbox-inline">
							<input type="checkbox" value="news"> Enviar noticias.
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9">
						<label class="checkbox-inline">
							<input type="checkbox" value="agree">  Accepto <a href="#">Terminos y condiciones</a>.
						</label>
					</div>
				</div>
				<br>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9">
						<button type="reset" class="btn btn-danger" id="RegistrarEvaluador">Enviar<span class="glyphicon glyphicon-ok"></span></button>
						<button type="reset" class="btn btn-info">Limpiar <span class="glyphicon glyphicon-erase"></span></button>
						
					</div>
				</div>
			</form>
		</div>
		<script src="../Jquery/jquery-2.1.0.min.js" type="text/javascript" language="javascript1.5"></script>
		<script type="text/javascript" src="../Boostrap/js/bootstrap.min.js"></script>
		<script src="../Js/jsEvaluador.js" type="text/javascript" language="javascript1.5"></script>
	</body>
	<link rel="stylesheet" href="../Boostrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../Css/estilos.css">
</html>